.popup{
    position: fixed;
      background-color: #eee;
      width: 40%;
      min-width: 330px;
      z-index: 10;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 14px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-bottom: 30px;
}


.popup .btns{
    margin-top: 50px;
    text-align: center;
}
.popup .btns button{
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0px 20px;
    font-size: 15px;
    padding: 7px 12px;
    color: var(--white);
    background-color: var(--danger-dark);
    border-radius: 20px;
}
.popup .btns button.clBtn{
    background-color: var(--text-color);
}