.new_home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
}
.new_home_img{
    width: 40%;
    min-width: 360px;
}
.new-home>h2{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.6rem;
    margin: 10px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .new-home>h2{
        font-size: 1.1rem;
    }
}