
.hero{
    display: flex;
    margin: 0rem 4rem;
    align-items: center;
    justify-content: center;
}
.hero-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hero-left>span:nth-child(1){
    font-size: 1.5rem;
    font-weight:700;
    /* color: transparent;
    -webkit-text-stroke: 2px  rgb(13, 71, 161); */
    color: #80a4ff;
}
.hero-left>span:nth-child(2){
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #454655;
}
.hero-right{
    width: 50%;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .hero{
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .hero-left{
        width: 85%;
        padding-bottom: 6rem;
    }
    .hero-right{
        width: 85%;
    }
    .hero-right>img{
        position: relative;
        left: -6rem;
        transform: scale(.8);
        margin-top: 3rem;
    }
}