nav{
    display: flex;
    width: 100vw;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left>a{
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-weight: 800;
}
.nav-left>a>span{
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    color: "#ODF7A1";
    font-family: "Dancing Script", cursive;
    color: #454655;
}
.nav-left>a>span>span{
    font-weight: 600px;
    color: "#ODF7A1";
    font-family: cursive;
}
@media screen and (min-width:320px) and (max-width:480px) {
    nav{
        width: 100vw;
        overflow-x: hidden;
    }
}